.top-bar{
    width: 100%
    height: 400px;
    background-color:#010101;
    color:#F1F1F1;
}

div.folder{
    margin-top: 100px;
    margin-left: 50px;
    position: relative;
    transform: translateY(-50%);
}

.has_my_face{
    cursor: url("../media/me.png") 20 27, pointer;
}

div.main-body{
    margin-top: 200px;
    
}

body {
    color: #2A5A6A;
    background-color: #0E0F0E;
    margin:0px;
    padding:0;
}

canvas { 
    width: 100%;
    height: 20%
}

a:link {
    color: #4A5A6A;
}
a:visited {
    color: #4A5A6A;
}
a:hover {
    color: white;
}

.beep-boop {
    animation: blink 1.5s ease infinite;
}

svg { position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100% 
}

.rev1 {
    animation: rev 5s;
}
.rev2 {
    animation: rev 5.2s;
}
.rev3 {
    animation: rev 6s;
}
.rev4 {
    animation: rev 6.8s;
}
.rev5 {
    animation: rev 7.6s;
}
.rev6 {
    animation: rev 7.9s;
}
.subt-fade {
    animation: fade-in 10s;
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.1% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes rev {
    0% {opacity: 0;}
    50% {opacity: 0;}
    50.1% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0;}
    59.1% {opacity: 1;}
    100% {opacity: 1;}
}
/*
#BBCBCB light blue
#586F7C darker blue
#656565 grey
#A5B5BF pale blue
#618985 dark teal
*/